<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/shiro" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<!-- 初始化连接大小 -->
		<property name="initialSize" value="${initialSize}"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="${maxActive}"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="${maxIdle}"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="${minIdle}"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="${maxWait}"></property>
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/jsp/login.jsp" />
		<property name="filterChainDefinitions">
			<value>
				/ = anon
				/space/** = authc
			</value>
		</property>
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="jdbcRealm" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>

	<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
		<property name="dataSource" ref="dataSource" />
		<property name="authenticationQuery"
			value="select password ,username from sys_users where username = ?" />
		<property name="userRolesQuery"
			value="select r.role from sys_users u, sys_users_roles ur, sys_roles r where u.id = ur.user_id and r.id = ur.role_id and u.username = ?" />
		<property name="permissionsQuery"
			value="select p.permission from sys_roles r, sys_roles_permissions rp, sys_permissions p where r.id = rp.role_id and p.id = rp.permission_id and r.role = ?" />
		<property name="permissionsLookupEnabled" value="true" />
		<property name="cacheManager" ref="cacheManager" />
		<property name="credentialsMatcher" ref="passwordMatcher" />
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<bean id="passwordMatcher" class="org.apache.shiro.authc.credential.PasswordMatcher" />


	<bean id="passwordService"
		class="org.apache.shiro.authc.credential.DefaultPasswordService" />

</beans>